@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .side-menu-width{
    min-width: 256px !important;
  }
  .latest-card{
    width: 375px;
    height: 228px;
  }
  .narrow{
    width: 556px;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #46CDCF;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.inputwrap {
  border-radius: 0.125rem;
  background-color: #2c2c2c;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transition: all .2s ease-out;
}
.inputwrap input {
  padding: .45rem 3rem;
  width: 100%;
  position: relative;
  min-height: 40px;
  z-index: 1;
  background: none;
  border-radius: inherit;
}
#newsletter-form input{
  padding: .45rem 3rem;
  width: 100%;
  position: relative;
  min-height: 40px;
  z-index: 1;
  background: #191A1C;
  border-radius: 0.125rem;
}

.search-icon {
  position: absolute;
  left: .25rem;
  top: .25rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
.user-inputwrap {
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #2C2C2C;
  border-radius: 2px;
  transition: all .2s ease-out;
}
.user-inputwrap .border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all .2s ease-out;
  opacity: 0;
}

.user-inputwrap input {
  width: 100%;
  position: relative;
  z-index: 1;
  background: none;
}

.user-inputwrap .label{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-out;
  padding: 16px;
}
.user-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}
.user-checkbox__wrap{
  display: inline-flex;
  align-items: center;
}
.user-inputwrap:not(.nolabel).input-populated .label, 
.user-inputwrap:not(.nolabel):focus-within .label {
  font-size: .75em;
  padding-top: 6px;
}
.glow:not(.disalbed) {
  box-shadow: 0 0.2rem 1rem rgb(66 157 159 / 30%);
}

.PillList-item {
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 12px 12px 0;
  text-transform: capitalize;
}

.PillList-item input[type="checkbox"] {
  display: none;
}
.PillList-item input[type="checkbox"]:checked + .PillList-label {
  background-color: #46CDCF;
  border: 1px solid #46CDCF;
  color: #fff;
  padding-right: 16px;
  padding-left: 16px;
}
.PillList-label {
  border: 1px solid #46CDCF;
  border-radius: 20px;
  color: #3ab2b4;
  display: block;
  padding: 7px 28px;
  text-decoration: none;
}
.PillList-item
  input[type="checkbox"]:checked
  + .PillList-label
  .Icon--checkLight {
  display: inline-block;
}
.PillList-item input[type="checkbox"]:checked + .PillList-label .Icon--addLight,
.PillList-label .Icon--checkLight,
.PillList-children {
  display: none;
}
.PillList-label .Icon {
  width: 12px;
  height: 12px;
  margin: 0 0 0 12px;
}
.Icon--smallest {
  font-size: 12px;
  line-height: 12px;
}
.Icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
}


.volume-control input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}

/* Removes default focus */
.volume-control input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.volume-control input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
.volume-control input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  border-radius: 4px;

  /*custom styles*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 1rem;
}

.volume-control input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
.volume-control input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.volume-control input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 4px; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 1rem;
}

.volume-control input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

.seek-control input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 10px 0;
  width: 100%;
}
.seek-control input[type=range]:focus {
  outline: none;
}
.seek-control input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.seek-control input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.seek-control input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
.seek-control input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.seek-control input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.seek-control input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.seek-control input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.seek-control input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.seek-control input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.seek-control input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
.seek-control input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}